* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Arial', 'Montserrat', sans-serif;
  margin: 10px;
}

img {
  max-width: 100%;
  display: block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.container {
  width: 45%;
  min-width: 350px;
  margin: 100px auto;
  background-color: #F0CF65;
  border: 1px solid black;
}

header {
  background-color: #F96F5D;
  padding: 10px 10px 10px;
  text-align: left;
  font-size: large;
  color: #001A23;
  border-bottom: 1px solid black;
  overflow: auto;
}

.section {
  width: auto;
  border: 1px solid black;
  background-color: wheat;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #001A23;
}

.project-image {
  display: block;
  margin: auto auto 10px;
  width: 80%;
}

