* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #DDEDAA;
}

h1, h2, h3, h4, h5, h6, p, ul, details {
  font-family: 'Arial', 'Montserrat', sans-serif;
  margin: 10px;
}

ul {
  margin-left: -10px;
  margin-top: -8px;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 25px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* MENU + MAIN CONTENT */
.layout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 100px auto;
  width: 100%;
}

/* MENU */
.layout {
  width: 55%;
  min-width: 470px;
  margin: 100px auto;
  display: flex;
  align-items: stretch;
}

.menu {
  width: 120px;
  flex-shrink: 0;
  background-color: #F0CF65;
  border: 1px solid black;
  border-right: none;
  border-radius: 10px 0 0 10px;
  padding: 10px;
}

.menu a {
  display: block;
  padding: 8px;
  color: #001A23;
  text-decoration: none;
  border-radius: 5px;
}

.menu a:hover {
  background-color: #F0CF65;
}

.container {
  width: calc(100% - 100px);
  min-width: 350px;
  margin: 0;
  background-color: #F0CF65;
  border: 1px solid black;
  border-radius: 0 10px 10px 0;
}

header {
  background-color: #F96F5D;
  padding: 10px 10px 10px;
  text-align: left;
  font-size: large;
  color: #001A23;
  border-bottom: 1px solid black;
  overflow: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 10px;
}

.section {
  width: auto;
  border: 1px solid black;
  background-color: wheat;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #001A23;
  border-radius: 10px;
}

.currently-doing {
  width: auto;
  border: 1px solid black;
  background-color: cyan;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  color: #001A23;
  border-radius: 10px;
}

.project-image {
  display: block;
  margin: auto auto 10px;
  width: 80%;
}
